body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}
.navbar{
	background-color: rgba(0,150,200,1);
}
a{
	color: rgb(0,0,0);
}
.tile{
	width: 31%;
	height: 175px;
	border: 1px solid rgb(191,191,191);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
}
.search-input{
	margin-right: 25px;
}
.navbar-container{
	margin-top: 10px;
}
.dashboard-tiles span {
	color: rgba(0,150,200,1);
}
.info-sidebar{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: right;
	background-color: rgb(204,204,204);
	width: 40%;
	height: 525px;
	padding: 10px;
	margin-right: 10px;
}
.desc{
	display: none;
}
